{% extends "base.html" %}{% load static %} {% block content %}

<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Lead</h2>
        <h1 class="text-white text-3xl title-font font-medium mb-4">
          This is the details of {{lead.first_name}} {{lead.last_name}}
        </h1>
        <div class="flex mb-4">
          <a
            class="
              flex-grow
              border-b-2 border-gray-800
              py-2
              text-lg
              px-1
              text-center
            "
            href="{% url 'leads:lead-detail' lead.pk %}"
            >Details</a
          >
          <a
            class="
              flex-grow
              text-indigo-400
              border-b-2 border-indigo-500
              py-2
              text-lg text-center
              px-1
            "
            >Update</a
          >
        </div>
        <p class="leading-relaxed mb-4">
          Fam locavore kickstarter distillery. Mixtape chillwave tumeric
          sriracha taximy chia microdosing tilde DIY. XOXO fam iligo juiceramps
          cornhole raw denim forage brooklyn. Everyday carry +1 seitan poutine
          tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean.
        </p>
        <form method="post">
          {% csrf_token %} {{form.as_p}}

          <button
            type="submit"
            class="
              ml-auto
              text-white
              bg-indigo-500
              border-0
              py-2
              my-4
              px-6
              focus:outline-none
              hover:bg-indigo-600
              rounded
              text-center
            "
          >
            Update
          </button>
        </form>
      </div>
      <img
        alt="Avtar"
        class="
          lg:w-1/2
          w-full
          lg:h-auto
          h-64
          object-cover object-center
          rounded
        "
        src="{% static 'images/avtar.jpg' %}"
      />
    </div>
  </div>
</section>

{% endblock content %}
